h1 > span{
    margin: 20px;
}
h3 > span{
    margin: 20px;
}


@media only screen and (max-width: 600px) {
    h1 > span{
        font-size: 1.5rem;
        margin: 10px;
    }
    h3 > span{
        font-size:small;
        margin: 7px;
    }


}